asgiref==3.8.1
attrs==24.2.0
colorama==0.4.6
Django==3.2.16
flake8==5.0.4
flake8-complex-f-strings==0.1.0
flake8-docstrings==1.7.0
flake8-isort==6.1.1
flake8-quotes==3.4.0
flake8-variables-names==0.0.6
iniconfig==2.0.0
isort==5.13.2
mccabe==0.7.0
packaging==24.2
pep8-naming==0.13.3
pluggy==1.5.0
py==1.11.0
pycodestyle==2.9.1
pydocstyle==6.3.0
pyflakes==2.5.0
pytest-django==4.5.2
pytz==2024.2
snowballstemmer==2.2.0
sqlparse==0.5.2
tomli==2.1.0
typing_extensions==4.12.2
