<form id="contact_form" action="{% url 'accounts:login_handler' %}" method="post">
    {% csrf_token %}
        <div class="form-group">
            <table>
                <tbody>
                    <tr>
                        <th align="right">
                            <label>Enter email:</label>
                        </th>
                        <td>
                            <input type="text" name="mail" maxlength="30" required>
                        </td>
                    </tr>
                    <tr>
                        <th align="right">
                            <label>Enter password:</label>
                        </th>
                        <td>
                            <input type="password" name="password" maxlength="30" required>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary">Log In / Register</button>
        </div>
</form>