{% extends "base.html" %}
{% block title %}
  Catalog
{% endblock %}
{% block content %}
  <div class="container py-5">
    <h1>Catalog</h1>
    <hr>
    {% for game in games %}
    <article>
      <ul>
        <li>
          Name: {{ game.name }}              
        </li>
        <li>
          Price: {{ game.price }} btc
        </li>
        <li>
          Genre: <a href="{% url "catalog:genre_games" game.genre %}">{{ game.genre }}</a>
        </li>
        <li>
          Description: {{ game.description|truncatewords:10 }}
        </li>
        <li>
          Sold: {{ game.sold }} copies
        </li>
      </ul>
    </article>
    {% if not forloop.last %}
      <hr>
    {% endif %}
  {% endfor %}
  </div>
{% endblock %}