{% extends "base.html" %}
{% block title %}
  Inventory
{% endblock %}
{% block content %}
  <div class="container py-5">
    <h1>Handle Shop Inventory</h1>
    <hr>
    {% for game in games %}
    <article>
      <ul>
        <li>
          Название: {{ game.name }}              
        </li>
        <li>
          Цена: {{ game.price }}
        </li>
        <li>
          Продано: {{ game.sold }}
        </li>
      </ul>
    </article>
    {% if not forloop.last %}
      <hr>
    {% endif %}
  {% endfor %}
  </div>
{% endblock %}